*{
    background-color:blanchedalmond;
    }
    .container {
         /* border: 2px solid red;  */
        text-align: center;
        height: 340px;
        width: 500px;
        /* margin: 188px 600px; */
        margin: auto;
        margin-top: 150px;
    }
     .form {
        align-items: center;

    }

    #f1 {
        text-align: center;
        display: block;
        width: 340px;
        padding: 10px;
        border: 2px solid black;
        margin: 6px auto;
        border-radius: 10px;
        font-family: 'Bebas Neue', cursive;

    }
        .f{
        text-align: center;
        display: block;
        width: 340px;
        padding: 10px;
        /* border: 2px solid black; */
          margin: -20px 67px; 
        border-radius: 10px;
        font-family: 'Bebas Neue', cursive;
        
    }
    #f4{
        margin: -22px 67px; 
    }

    .form input {
        text-align: center;
        display: block;
        width: 320px;
        padding: 10px;
        border: 2px solid black;
        margin: 15px auto;
        border-radius: 10px;
        font-family: 'Bebas Neue', cursive;

    }

    div button {
        background-color: rgb(63, 30, 30);
        color: rgb(44, 229, 65);
        width: 200px;
        margin: 10px;
        padding: 6px 6px;
        border-radius: 15px;
        font-family: 'Bebas Neue', cursive;
         transition: width 2s ease-in 2s;
    }

    div button:hover 
    {
        background-color: rgb(188, 162, 68);
        color: black;
         width: 300px; 

    }
    div a{
             /* border: 2px solid red;  */
            width:100px;
            font-size: 40px;
            color: #000;
            text-decoration: none;
            display: inline-block;
            position: absolute;
            right: 35px;
            top: 10px;
    }
    div a:hover{
        color: rgb(164, 18, 204);
    }
    